@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
  font-family: "Inter", sans-serif;
  background-color: #ddffdd;
}

a {
  cursor: pointer;
}

.header {
  display: flex;
  height: 5rem;
  background-color: #fff;
  align-items: center;
  padding: 2%;
}

header {
  display: flex;
  height: 5rem;
  align-items: center;
}

.h1Title {
  font-weight: 600;
  font-size: 2.5rem;
}

.imgLogo {
  width: 4rem;
  margin-left: 2rem;
}

.divTitle {
  justify-content: center;
  display: flex;
  width: 90vw;
}

.divTitle h1 {
  text-align: center;
}

.buttonConferir {
  width: 100%;
  padding: 10px;
  height: 80%;
  border-radius: 10px;
  background-color: transparent;
  border: green 2px solid;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 900;
  transition: 0.3s;
  color: #000;
}

#users-form h2 {
  margin: 5px;
}

.buttonConferir:hover {
  background-color: green;
  border: green 2px solid;
  color: #fff;
}

#plans-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plan-card {
  border: #000 1.5px solid;
  padding: 10px;
  border-radius: 10px;
  width: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 0.2s;
  margin-right: 5px;
  margin-top: 5px;
  background-color: rgb(235, 233, 233);
}

.plan-card:hover {
  transform: scale(1.01);
}

.plan-card p {
  text-align: center;
}

#plans-select {
  margin-top: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 7px 4px;
  border-radius: 5px;
  border: 1.2px solid black;
  font-weight: 500;
  background-color: #fff;
}

#users-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#num-users {
  padding: 4px 2px;
  border-radius: 5px;
  border: 1.2px solid black;
}

#num-users h2 {
  margin-bottom: 0.7rem;
}


#wrapper-gerar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wrapper-gerar input {
  align-self: center;
  margin-bottom: 10px;
}

#btn-gerar {
  padding: 7px;
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 10px;
}


#enviar-formulario {
  margin-top: 0.3rem;
  padding: 7px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: none;

}

#wrapper-home {
  align-items: center;
  height: 75vh;
}

.user-field label {
  margin: 0 10px;
}

#error-message {
  color: red;
  display: none;
  margin-bottom: 20px;
  justify-self: center;
  text-align: center;
}

#dados-container {
  text-align: center;
  margin-top: 10px;
}

#wrapper-section {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}


#wrapper-section-div {
  display: flex;
  justify-content: center
}

#wrapper-section-div p {
  margin-top: 5vh;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 5%;
  text-align: center;
}

#btn-venhaconferir {
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-around;
  align-items: center;  
}
#btn-venhaconferir a{
  margin: 0 5px;
}

#dadosTabela {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

#dadosTabela th,
#dadosTabela td {
  padding: 8px;
  border: 1px solid #ddd;
}

#dadosTabela td#coluna-beneficiarios {
  white-space: pre-line;
}

#dadosTabela tr {
  margin-bottom: 8px;
}

#response-proposta {
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .user-field{
    display: flex;
    flex-direction: column;
  }
  
#dadosTabela {
  margin: 5% auto;

}
}